btn {
  font-size: 14px;
}
.description {
  width: 100%;
}
.description .columns-content {
  width: 58%;
  margin-right: 2%;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}
.description .rulers-img {
  width: 40%;
}
.button-line {
  margin-bottom: 40px;
  width: 100%;
}
.btn {
  background-color: transparent;
  box-shadow: none;
  border: 1px solid transparent;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
}
.btn.regular {
  padding: 0 18px;
  height: 36px;
  line-height: 34px;
  font-size: 14px;
}
.btn.large {
  padding: 0 20px;
  height: 40px;
  line-height: 38px;
  font-size: 16px;
}
.special-button {
  color: #fff;
  background-color: #64c800;
  border-color: #64c800;
}
.special-button:hover {
  color: #fff;
  background-color: #6ed70a;
  border-color: #6ed70a;
}
.special-button:active {
  color: #468700;
  background-color: #5fb900;
  border-color: #5fb900;
}
.special-button.disabled {
  opacity: 0.3;
}
.special-button.light.with-icon:hover {
  color: #fff;
  background-color: #6ed70a;
  border-color: #6ed70a;
}
.special-button.light.with-icon:active {
  color: #468700;
  background-color: #5fb900;
  border-color: #5fb900;
}
.special-button.light.with-icon.disabled {
  opacity: 0.3;
}
.special-button.dark.with-icon:hover {
  color: #fff;
  background-color: #64c800;
  border-color: #64c800;
}
.primary-button {
  color: #fff;
  background-color: #00aaff;
  border-color: #00aaff;
}
.primary-button:hover {
  color: #fff;
  background-color: #46c3ff;
  border-color: #46c3ff;
}
.primary-button:active {
  color: #055f8c;
  background-color: #0096e1;
  border-color: #0096e1;
}
.primary-button.disabled {
  opacity: 0.3;
}
.primary-button.light.with-icon:hover {
  color: #fff;
  background-color: #46c3ff;
  border-color: #46c3ff;
}
.primary-button.light.with-icon:active {
  color: #055f8c;
  background-color: #0096e1;
  border-color: #0096e1;
}
.primary-button.light.with-icon.disabled {
  opacity: 0.3;
}
.secondary-button.light {
  color: #4b555f;
  background-color: #e1e9f0;
  border-color: #e1e9f0;
}
.secondary-button.light:hover {
  color: #4b555f;
  background-color: #f0f5fa;
  border-color: #f0f5fa;
}
.secondary-button.light:active {
  color: #6e7882;
  background-color: #b9c3cd;
  border-color: #b9c3cd;
}
.secondary-button.light.disabled {
  opacity: 0.3;
}
.secondary-button.light.with-icon:hover {
  color: #4b555f;
  background-color: #f0f5fa;
  border-color: #f0f5fa;
}
.secondary-button.light.with-icon:active {
  color: #6e7882;
  background-color: #b9c3cd;
  border-color: #b9c3cd;
}
.secondary-button.light.with-icon.disabled {
  opacity: 0.3;
}
.secondary-button.dark {
  color: #fff;
  background-color: #6e7882;
  border-color: #6e7882;
}
.secondary-button.dark:hover {
  color: #fff;
  background-color: #87919b;
  border-color: #87919b;
}
.secondary-button.dark:active {
  color: #37414b;
  background-color: #4b555f;
  border-color: #4b555f;
}
.secondary-button.dark.disabled {
  opacity: 0.3;
}
.danger-button.light {
  color: #fff;
  background-color: #c80000;
  border-color: #c80000;
}
.danger-button.light:hover {
  color: #fff;
  background-color: #f00000;
  border-color: #f00000;
}
.danger-button.light:active {
  color: #5a0000;
  background-color: #aa0000;
  border-color: #aa0000;
}
.danger-button.light.disabled {
  opacity: 0.3;
}
.danger-button.light.with-icon:hover {
  color: #fff;
  background-color: #f00000;
  border-color: #f00000;
}
.danger-button.light.with-icon:active {
  color: #5a0000;
  background-color: #aa0000;
  border-color: #aa0000;
}
.danger-button.light.with-icon.disabled {
  opacity: 0.3;
}
.danger-button.dark {
  color: #fff;
  background-color: #fa3c3c;
  border-color: #fa3c3c;
}
.danger-button.dark:hover {
  color: #fff;
  background-color: #ff0000;
  border-color: #ff0000;
}
.danger-button.dark:active {
  color: #5a0000;
  background-color: #aa0000;
  border-color: #aa0000;
}
.danger-button.dark.disabled {
  opacity: 0.3;
}
.special-glass {
  background-color: transparent;
  border-color: #64c800;
}
.special-glass:hover {
  color: #fff;
  background-color: #6ed70a;
  border-color: #6ed70a;
}
.special-glass:active {
  color: #468700;
  background-color: #5fb900;
  border-color: #5fb900;
}
.special-glass.disabled {
  opacity: 0.3;
}
.special-glass.light {
  color: #64c800;
}
.special-glass.light.with-icon:hover {
  color: #fff;
  background-color: #6ed70a;
  border-color: #6ed70a;
}
.special-glass.light.with-icon:active {
  color: #468700;
  background-color: #5fb900;
  border-color: #5fb900;
}
.special-glass.light.with-icon.disabled {
  opacity: 0.3;
}
.special-glass.dark {
  color: #fff;
}
.primary-glass {
  background-color: transparent;
  border-color: #00aaff;
}
.primary-glass:hover {
  color: #fff;
  background-color: #46c3ff;
  border-color: #46c3ff;
}
.primary-glass:active {
  color: #055f8c;
  background-color: #0096e1;
  border-color: #0096e1;
}
.primary-glass.disabled {
  opacity: 0.3;
}
.primary-glass.light {
  color: #00aaff;
}
.primary-glass.light.with-icon:hover {
  color: #fff;
  background-color: #46c3ff;
  border-color: #46c3ff;
}
.primary-glass.light.with-icon:active {
  color: #055f8c;
  background-color: #0096e1;
  border-color: #0096e1;
}
.primary-glass.light.with-icon.disabled {
  opacity: 0.3;
}
.primary-glass.dark {
  color: #fff;
}
.secondary-glass {
  background-color: transparent;
  border-color: #87919b;
}
.secondary-glass.light {
  color: #87919b;
}
.secondary-glass.light:hover {
  color: #4b555f;
  background-color: #f0f5fa;
  border-color: #f0f5fa;
}
.secondary-glass.light:active {
  color: #6e7882;
  background-color: #b9c3cd;
  border-color: #b9c3cd;
}
.secondary-glass.light.disabled {
  opacity: 0.3;
}
.secondary-glass.light.with-icon:hover {
  color: #4b555f;
  background-color: #f0f5fa;
  border-color: #f0f5fa;
}
.secondary-glass.light.with-icon:active {
  color: #6e7882;
  background-color: #b9c3cd;
  border-color: #b9c3cd;
}
.secondary-glass.light.with-icon.disabled {
  opacity: 0.3;
}
.secondary-glass.dark {
  color: #fff;
}
.secondary-glass.dark:hover {
  color: #fff;
  background-color: #87919b;
  border-color: #87919b;
}
.secondary-glass.dark:active {
  color: #37414b;
  background-color: #4b555f;
  border-color: #4b555f;
}
.secondary-glass.dark.disabled {
  opacity: 0.3;
}
.glass-danger {
  background-color: transparent;
}
.glass-danger.light {
  color: #c80000;
  border-color: #c80000;
}
.glass-danger.light:hover {
  color: #fff;
  background-color: #f00000;
  border-color: #f00000;
}
.glass-danger.light:active {
  color: #5a0000;
  background-color: #aa0000;
  border-color: #aa0000;
}
.glass-danger.light.disabled {
  opacity: 0.3;
}
.glass-danger.light.with-icon:hover {
  color: #fff;
  background-color: #f00000;
  border-color: #f00000;
}
.glass-danger.light.with-icon:active {
  color: #5a0000;
  background-color: #aa0000;
  border-color: #aa0000;
}
.glass-danger.light.with-icon.disabled {
  opacity: 0.3;
}
.glass-danger.dark {
  color: #fff;
  border-color: #fa3c3c;
}
.glass-danger.dark:hover {
  color: #fff;
  background-color: #ff0000;
  border-color: #ff0000;
}
.glass-danger.dark:active {
  color: #5a0000;
  background-color: #aa0000;
  border-color: #aa0000;
}
.glass-danger.dark.disabled {
  opacity: 0.3;
}
