.description {
  width: 100%;
  .columns-content {
    width: 48%;
    float: left;
    margin-right: 2%;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;

    @media only screen  and(max-width: 1024px) {
      width: 100%;
    }
  }
  .rulers-img {
    width: 50%;
    float: right;

    @media only screen  and(max-width: 1024px) {
      width: 100%;

    }
  }
}

.button-line {
  margin-bottom: 40px;
  width: 100%;
}

.btn {
  font-size: 14px;
  background-color: transparent;
  box-shadow: none;
  border: 1px solid transparent;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  &.regular {
    padding: 0 18px;
    height: 36px;
    line-height: 34px;
    font-size: 14px;
  }
  &.large {
    padding: 0 20px;
    height: 40px;
    line-height: 38px;
    font-size: 16px;
  }
  &.with-icon {
    .icon {
      padding-right: 5px;
      font-size: 16px;
      position: relative;
      top: 1.5px;
    }
  }
  &.disabled {
    opacity: 0.3;
  }
}

.special-button {
  color: #fff;
  background-color: #64c800;
  border-color: #64c800;
  &:hover {
    color: #fff;
    background-color: #6ed70a;
    border-color: #6ed70a;
  }
  &:active {
    color: #468700;
    background-color: #5fb900;
    border-color: #5fb900;
  }
  &.light {
    &.with-icon {
      &:hover {
        color: #fff;
        background-color: #6ed70a;
        border-color: #6ed70a;
      }
      &:active {
        color: #468700;
        background-color: #5fb900;
        border-color: #5fb900;
      }
    }
  }
  &.dark {
    &.with-icon {

    }
  }
}

.primary-button {
  color: #fff;
  background-color: #00aaff;
  border-color: #00aaff;
  &:hover {
    color: #fff;
    background-color: #46c3ff;
    border-color: #46c3ff;
  }
  &:active {
    color: #055f8c;
    background-color: #0096e1;
    border-color: #0096e1;
  }
  &.light {
    &.with-icon {
      &:hover {
        color: #fff;
        background-color: #46c3ff;
        border-color: #46c3ff;
      }
      &:active {
        color: #055f8c;
        background-color: #0096e1;
        border-color: #0096e1;
      }
    }
  }
  &.dark {
    &.with-icon {

    }
  }
}

.secondary-button {
  &.light {
    color: #4b555f;
    background-color: #e1e9f0;
    border-color: #e1e9f0;
    &:hover {
      color: #4b555f;
      background-color: #f0f5fa;
      border-color: #f0f5fa;
    }
    &:active {
      color: #6e7882;
      background-color: #b9c3cd;
      border-color: #b9c3cd;
    }
    &.with-icon {
      .icon {
        color: #00aaff;
      }
      &:hover {
        .icon {
          color: #46c3ff;
        }
      }
      &:active {
        .icon {
          color: #0096e1;
        }
      }
      &:hover {
        color: #4b555f;
        background-color: #f0f5fa;
        border-color: #f0f5fa;
      }
      &:active {
        color: #6e7882;
        background-color: #b9c3cd;
        border-color: #b9c3cd;
      }
    }
  }
  &.dark {
    color: #fff;
    background-color: #6e7882;
    border-color: #6e7882;
    .icon {
      color: #00aaff;
    }
    &:hover {
      .icon {
        color: #46c3ff;
      }
    }
    &:active {
      .icon {
        color: #0096e1;
      }
    }
    &:hover {
      color: #fff;
      background-color: #87919b;
      border-color: #87919b;
    }
    &:active {
      color: #37414b;
      background-color: #4b555f;
      border-color: #4b555f;
    }
    &.with-icon {

    }
  }
}

.danger-button {
  &.light {
    color: #fff;
    background-color: #c80000;
    border-color: #c80000;
    &:hover {
      color: #fff;
      background-color: #f00000;
      border-color: #f00000;
    }
    &:active {
      color: #5a0000;
      background-color: #aa0000;
      border-color: #aa0000;
    }
    &.with-icon {
      &:hover {
        color: #fff;
        background-color: #f00000;
        border-color: #f00000;
      }
      &:active {
        color: #5a0000;
        background-color: #aa0000;
        border-color: #aa0000;
      }
    }
  }
  &.dark {
    color: #fff;
    background-color: #fa3c3c;
    border-color: #fa3c3c;
    &:hover {
      color: #fff;
      background-color: #ff0000;
      border-color: #ff0000;
    }
    &:active {
      color: #5a0000;
      background-color: #aa0000;
      border-color: #aa0000;
    }
    &.with-icon {

    }
  }
}

.special-glass {
  background-color: transparent;
  border-color: #64c800;
  &:hover {
    color: #fff;
    background-color: #6ed70a;
    border-color: #6ed70a;
  }
  &:active {
    color: #468700;
    background-color: #5fb900;
    border-color: #5fb900;
  }
  &.light {
    color: #64c800;
    &:hover {
      color: #fff;
    }
    &:active {
      color: #468700;
    }
    &.with-icon {
      &:hover {
        color: #fff;
        background-color: #6ed70a;
        border-color: #6ed70a;
      }
      &:active {
        color: #468700;
        background-color: #5fb900;
        border-color: #5fb900;
      }
    }
  }
  &.dark {
    color: #fff;
    &:active {
      color: #468700;
    }
    &.with-icon {

    }
  }
}

.primary-glass {
  background-color: transparent;
  border-color: #00aaff;
  &:hover {
    color: #fff;
    background-color: #46c3ff;
    border-color: #46c3ff;
  }
  &:active {
    color: #055f8c;
    background-color: #0096e1;
    border-color: #0096e1;
  }
  &.light {
    color: #00aaff;
    &:hover {
      color: #fff;
    }
    &:active {
      color: #055f8c;
    }
    &.with-icon {
      &:hover {
        color: #fff;
        background-color: #46c3ff;
        border-color: #46c3ff;
      }
      &:active {
        color: #055f8c;
        background-color: #0096e1;
        border-color: #0096e1;
      }
    }
  }
  &.dark {
    color: #fff;
    &:hover {
      color: #fff;
    }
    &:active {
      color: #055f8c;
    }
    &.with-icon {

    }
  }
}

.secondary-glass {
  background-color: transparent;
  border-color: #87919b;
  &.light {
    color: #87919b;
    &:hover {
      color: #4b555f;
      background-color: #f0f5fa;
      border-color: #f0f5fa;
    }
    &:active {
      color: #6e7882;
      background-color: #b9c3cd;
      border-color: #b9c3cd;
    }
    &.with-icon {
      .icon {
        color: #00aaff;
      }
      &:hover {
        .icon {
          color: #46c3ff;
        }
      }
      &:active {
        .icon {
          color: #0096e1;
        }
      }
      &:hover {
        color: #4b555f;
        background-color: #f0f5fa;
        border-color: #f0f5fa;
      }
      &:active {
        color: #6e7882;
        background-color: #b9c3cd;
        border-color: #b9c3cd;
      }
    }
  }
  &.dark {
    color: #fff;
    &:hover {
      color: #fff;
      background-color: #87919b;
      border-color: #87919b;
    }
    &:active {
      color: #37414b;
      background-color: #4b555f;
      border-color: #4b555f;
    }
    &.with-icon {
      .icon {
        color: #00aaff;
      }
      &:hover {
        .icon {
          color: #46c3ff;
        }
      }
      &:active {
        .icon {
          color: #0096e1;
        }
      }
    }
  }
}

.glass-danger {
  background-color: transparent;
  &.light {
    color: #c80000;
    border-color: #c80000;
    &:hover {
      color: #fff;
      background-color: #f00000;
      border-color: #f00000;
    }
    &:active {
      color: #5a0000;
      background-color: #aa0000;
      border-color: #aa0000;
    }
    &.with-icon {
      &:hover {
        color: #fff;
        background-color: #f00000;
        border-color: #f00000;
      }
      &:active {
        color: #5a0000;
        background-color: #aa0000;
        border-color: #aa0000;
      }
    }
  }
  &.dark {
    color: #fff;
    border-color: #fa3c3c;
    &:hover {
      color: #fff;
      background-color: #ff0000;
      border-color: #ff0000;
    }
    &:active {
      color: #5a0000;
      background-color: #aa0000;
      border-color: #aa0000;
    }
    &.with-icon {

    }
  }
}

.link-button {
  color: #00aaff;
  &:hover {
    color: #00aaff;
    background-color: #cdf0ff;
    border-color: #cdf0ff;
  }
  &:active {
    color: #fff;
    background-color: #00aaff;
    border-color: #00aaff;
  }
}

.close-btn {
  width: 36px;
  height: 36px;
  color: #00aaff;
  background-color: transparent;
  border-radius: 50%;
  padding: 0;
  .icon {
    position: relative;
    top: 1.3px;
    font-size: 14px;
  }

  &.large {
    width: 50px;
    height: 50px;
    padding: 0;
    .icon {
      position: relative;
      top: 5px;
      font-size: 22px;
    }
  }

  &:hover {
    color: #00aaff;
  }
  &:active {
    color: #0096e1;
  }
  &.light {
    &:hover {
      background-color: #e1e9f0;
    }
    &:active {
      color: #0096e1;
      background-color: #b9c3cd;
    }
  }

  &.dark {
    &:hover {
      background-color: #4b555f;
    }
    &:active {
      color: #0096e1;
      background-color: #4b555f;
    }
  }

  &.image-bg {
    color: #fff;
    background-color: rgba(35, 45, 55, 0.7);
    &:hover {
      background-color: rgba(55, 65, 75, 0.7);
      color: #fff;
    }
    &:active {
      background-color: rgba(0,0,0,0.7);
      color: #fff;
    }
    &.disabled {
      background-color: rgba(35, 45, 55, 0.5);
      color: rgba(255, 255, 255, 0.3);
    }
  }
}
